[user]
  name  = Vinicius Amaral
  email = vcamaral@gmail.com

[core]
  editor        = code --wait
  autocrlf      = input
  excludesfile  = ~/.gitignore_global

[init]
  defaultBranch = main

[pull]
  rebase = false

[push]
  autoSetupRemote = true

[diff]
  colorMoved = zebra

[merge]
  conflictstyle = diff3

[alias]
  st  = status
  lg  = log --oneline --graph --decorate
  undo = reset --soft HEAD~1
  aliases = config --get-regexp alias
